/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0056b3;
    padding: 20px 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

header {
    background-color: #181818;
    color: #fff;
    padding: 16px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff5100;
    margin-top: 20px;
}

header a:hover {
    background-color: #ff5100;
}

main {
    padding: 16px;
    background-color: #efefef;
}

section {
    background-color: #FFF;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 16px 0;
}

.last {
    margin-bottom: 61px;
}

h2 {
    padding-bottom: 8px;
}

label {
    display: block;
    margin-top: 8px;
}

input {
    width: 99%;
    padding: 8px;
    border: 1px solid #ccc;
}

hr{
    margin: 10px 0 20px 0;
}

footer{
    background-color: #303030;
    padding: 16px;
    text-align: center;
    color: #FFF;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.final i {
    text-decoration: none;
    color: white;
}

.final a {
    color: #efefef;
    text-decoration: none;
}


.footer a{
    color: #efefef;
}

.azul{
    color: #1100ff;;
}

.amarelo{
    background-color: yellow;
}

.size24{
    font-size: 24px;
}

.margin20{
    margin: 20px;
}

.padding15{
    padding: 15px;
}

.borderred{
    border: 2px solid red;
}

.flexdisplay{
    display: flex;
}

.position{
    position: sticky;
                    top: 50px;
                    left: 100px;
}

.centertext{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 0 70px 0;
}