.navbar {
    background-color: #0056b3;
    padding: 20px 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: #303030;
    color: #fff;
    padding: 16px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
}

header a:hover {
    background-color: #444;
}

main {
    padding: 16px;
    background-color: #efefef;
}

section {
    background-color: #FFF;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 60px;
}

h2 {
    width: 100%;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    background-color: #FFF;
    border: 1px solid #ddd;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    border-radius: 4px;
}

.movie-card h4 {
    font-size: 18px;
    margin: 4px;
    text-align: center;
}

footer {
    background-color: #303030;/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #0056b3;
    padding: 20px 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: #af6b4c;
    color: #fff;
    padding: 16px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff5100;
    margin-top: 20px;
}

header a:hover {
    background-color: #ff5100;
}

main {
    padding: 16px;
    background-color: #efefef;
}

section {
    background-color: #FFF;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 16px 0;
}

.last {
    margin-bottom: 61px;
}

h2 {
    border-bottom: 2px solid #ff5100;
    padding-bottom: 8px;
}

label {
    display: block;
    margin-top: 8px;
}

input {
    width: 99%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

footer {
    background-color: #af6b4c;
    padding: 16px;
    text-align: center;
    color: #FFF;
    bottom: 0;
    position: fixed;
    width: 100%;
}
    padding: 16px;
    text-align: center;
    color: #FFF;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.title{
    font-size: 40px;
}

.subtitle{
    font-size: 20px;
}

.final i {
    text-decoration: none;
    color: white;
}

.final a {
    color: #efefef;
    text-decoration: none;
}

.footer{
    text-decoration: none;
    background-color: #303030;
    padding: 7px;
    color: white;
}

.footer a{
    color: #efefef;
}


/* "fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-40 */

#modal,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6 {
width: 100vh;
min-height: 30%;
max-height: 70%;
background-color: #fff;
border-radius: 5px;
padding: 20px;
position: fixed;
}

#modal::backdrop,
#modal2::backdrop,
#modal3::backdrop,
#modal4::backdrop,
#modal5::backdrop,
#modal6::backdrop {
background: rgba(0, 0, 0, 0.50);
backdrop-filter: blur(3px);
}

button {
background-color: #04AA6D;
border: none;
color: white;
padding: 15px 23px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 9px;
margin: 15px 0 15px 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }

  .close-button:hover {
    color: #000;
  }